@font-face {
    font-family: 'Miso Bolt';
    src:url(fonts/miso.otf);
}
@font-face {
    font-family: 'MyriadPro Regular';
    src:url(fonts/8143.otf);
}
html, body {
    height: 100%;
    background: #fdde7e;
    font-family: 'MyriadPro Regular';
}
body {
    padding: 50px;
}
.coffee {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
.coffee .cup {
    background: white;
    flex-basis: 360px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
    box-sizing: border-box;
    border-radius: 5px;
}
.coffee .cup:not(:nth-child(2)) {
    height: 440px;
    padding: 40px 0;
}
.coffee .cup h1 {
    font-size: 70px;
    font-family: 'Miso Bolt';
    font-weight: bold;
    color: #02995b;
}
.coffee .cup h2 {
    font-size: 56px;
}
.coffee .cup p {
    font-size: 20px;
    max-width: 150px;
    text-align: center;
    color: #333333;
}