$font-Raleway: "Raleway", sans-serif;
$font-Heavy: "Raleway-Heavy";
$f-z14: 0.875rem;
$f-z15: 0.94rem;
$f-z16: 16px;
$f-z18: 1.13rem;
$f-z20: 1.25rem;
$f-z45: 2.81rem;
$f-z70: 4.38rem;
$f-z90: 5.62rem;
$color-grey: #aeadaf;
$color-org: #ff6033;
$color-wht: #ffffff;
$color-blck: black;
$color-btn: #ef8162;
$color-blue: #00bbbb;
$color-gall: #ffe92f;
$color-blog: #b07cf7;
$color-btn-blog: #f72b3b;
$color-red: #9d1e28;
$color-accent: #ff2b58;
$color-contact: #a3a3a3;
$color-placeholder: #77d9d8;
$color-g_btn: #5585a2;
$color-sbscrb: #96b92c;
