@font-face {
    font-family: "Hans Kendrick";
    src: url(./fonts/HansKendrick-Regular.otf);
}

.page {
    background-color: #e2e7ec;
    font-family: "Hans Kendrick";
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: left;
    text-transform: uppercase;
}

.block {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card:first-child {
    box-sizing: border-box;
    width: 740px;
    height: 540px;
    background-image: url(img/background.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 43px;
    padding-bottom: 40px;
}

.card {
    box-sizing: border-box;
    width: 360px;
    height: 540px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    padding-bottom: 40px;
    padding-left: 40px;
    position: relative;
}

.card_image {
    position: absolute;
    left: 0;
    top: 0;
}

.card_date {    
    opacity: 0.5;
    color: #818181;
    font-size: 13px;
    letter-spacing: 0.33px;
}

.card_topic {
    color: #1d1d1d;
    font-size: 22px;
    margin-top: 21px;
    margin-bottom: 40px;
}

.card_topic--white {
    color: #fff;
}

.card_author {
    width: 54px;
    height: 54px;
}