@font-face {
    font-family: "MuseoSansRounded";
    src: url(fonts/MuseoSansRounded300.otf);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.page {
    font-family: "MuseoSansRounded";
    background-image: url(images/main-bg.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 686px;
    height: 391px;
    background: #152335;
    border-radius: 8px;
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
}

.page__card {
    padding: 20px;
}

.dots {
    display: flex;
    justify-content: space-between;
    width: 70px;
    align-items: center;
}

.dots__elem {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
}

.dots__elem--color-dark {
    background: #2A3450;
}

.dots__elem--color-white {
    background: #FFFEFF;
}

.dots__elem--color-red {
    background: #F54A43;
}

.dots__elem--color-blue {
    background: #27E5EF;
}

.dots-elem--active {
    width: 12px;
    height: 12px;
    border: 2px solid #91939D;
}

.card__main {
    display: flex;
    height: 316px;
}

.main__slider {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
}

.slider__slides {
    padding-left: 15px;
}