*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/museosansrounded-100-webfont.ttf");
}

html{
    width: 100%;
    height: 100%;
    background-image: url(./../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    min-width: 775px;
    min-height: 510px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    background-color: #0e1f33;
    width: 50vw;
    height: 30vw;
    border-radius: 10px;
    box-shadow: 0px 5px 44px 32px rgba(34, 60, 80, 0.25);
}

.content__header {
    width: 100%;
    height: 10%;
}


.content__header-img{
    height: 100%;
}

.content__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 90%;

}


.content__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 90%;
    padding-left: 3%;
}

.slider__dots {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 20px;
    margin-top: auto;
    margin-bottom: 2%;
}

.slider__slide{
    width: 80%;
    margin-top: auto;
}

.slide__img {
    width: 100%;
}

.dots__dot{
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #243550;
}

.dots__dot:hover{
 width: 15px;
 height: 15px;
 border: 2px solid #7e838b;
}

.bg-red{
    background: #ed3333;
}

.bg-white{
    background: white;
}

.bg-green{
    background: #29e3ea;
}

.description__title{
    margin-top: 30%;
    font-family: 'MuseoSans';
    color: #e1e1e1;
    font-size: 2rem;
    margin-bottom: 5%;
}

.description__main{
    font-family: 'MuseoSans';
    font-size: 1rem;
    color: #8d9094;
    margin-bottom: 5%;
}

.description__stars{
    display: flex;
    list-style: none;
}

.gold{
    display: inline-block;
    filter: brightness(0) saturate(100%) invert(94%) sepia(71%) saturate(972%) hue-rotate(319deg) brightness(102%) contrast(95%);
}

.order{
    margin-top: 20%;
    justify-content: flex-start;
    align-self: flex-start;
    /*border: 1px solid chartreuse;*/
}

.order_select{
    /*border: none;*/
    padding: 10px;
    font-family: MuseoSans;
    font-size: 1.5em;
    background: #0e1f33;
    color: #a0a3a7;
    border: 1px solid #4f5560;
}

.order_select:hover{
    background: #202835;
}

.order_button{
    padding: 5%;
    color: #a4a7ab;
    font-family: MuseoSans;
    font-size: 24px;
    width: 110%;
    border: 1px solid #4f5560;
    background: #0e1f33;
    margin-top: 20%;
    display: block;
}

.order_button:hover{
    background: #202835;
}
.select_option{
    background: #0e1f33;
    color: #a0a3a7;
}