$font-button: 'Open Sans';
$font-default: 'Raleway';
$font-title: 'Roboto';

$color-orange: #ffcc00;
$color-grey: #a5a9a9; 
$color-dark: #666666;
$color-white: #ffffff;

$font-size-subtitle: 18px;
$font-size-title: 60px;
$font-size-name: 34px;
$font-size-position: 24px;
$font-size-description: 14px; 

$font-weight-description: 500;
$font-weight-title: 900;
$font-weight-posit: 400;