.about {
    width: 100%;  
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(img/about-us.png), no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;

    &__content {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        max-width: 500px;
        width: 100%;
        min-height: 285px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: $font-size-title;
        font-weight: bold;
        color: $font-color-white;
        text-align: center;
    }

    &__description {
        font-size: $font-size-defoult;
        font-weight: 300;
        color: $font-color-white;
        line-height: 2.7rem;
    }

    &__img {
        margin-right: 3%;
        width: 50%;
        object-fit: cover;
    }
}

@media screen and (max-width: 1200px) {
    .about__content {
        max-width: 900px;
    }

}
@media screen and (max-width: 992px) {
    .about__content {
        max-width: 720px;
    }

}

@media screen and (max-width: 768px) {
    .about__content {
        max-width: 540px;
        flex-direction: column;
    }
}