.blog {
    width: 100%;
    min-height: 645px;
    margin: 0 auto;
    padding-top: 7%;
    padding-bottom: 9%;
    background-color: #b07cf7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-weight: bold;
        font-size: $font-size-title;
        text-align: center;
        color: $font-color-white;
    }

    &__description {
        font-size: $font-size-defoult;
        font-weight: 300;
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        line-height: 2.5rem;
        color: $font-color-white;
    }

    &__content {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        display: block;
        margin: 0 auto;
        background-color: $font-color-pink;
        color: $font-color-white;
    }

    &__link {
        color: $font-color-white;
        font-family: $font-family-defoult;
    }
    
}

.article {
    position: relative;
    width: 30%;
    
    &__date {
        position: absolute;
        top: 8.5%;
        left: 8.5%;
        width: 6rem;
        height: 6rem;
        border-radius: 10%;
        background-color: rgba($font-color-black, 50%);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: $font-color-white;;
    }

    &__info {
        position: absolute;
        top: 59.83%;
        left: 5.67%;
        font-weight: bold;
        color: $font-color-white;
    }

    &__name {
        font-size: $font-size-btn;
        font-weight: bold;
    }

    &__image {
        width: 100%;
        object-fit: cover;
    }

    &__image::before {
        content: '';   
        width: 100%; 
        height: 100%;  
        position: absolute;
        top: 0;      
        left: 0;   
        background: transparent;
        background-image: linear-gradient(to top, black 0%, black 10%, transparent 50%, transparent 100%);
        opacity: 0.8;    
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.5);  
    }

    &__image:hover {
        transform: scale(1.03);
        transition-duration: 0.5s;
    }

    &__author, &__time {
        display: inline-block;
        font-size: 1.3rem;
        font-weight: 300;
        margin-top: 8.4%;
    }
}
.image {
    width: 100%;
    object-fit: cover;
}

.data {

    &__month {
        font-size: 2.1rem;
    }

    &__day {
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 1199px) {
    .blog__content {
        max-width:  900px;
    }
}

@media screen and (max-width: 992px) {
    .blog__content {
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .blog {
        height: 1700px;
        
        &__content {
                max-width: 540px;
                flex-direction: column;
                height: 1400px;
            }

            &__description {
                max-width: 540px;
            }
    }
    .article {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .blog {
        height: 1100px;
        
        &__content {
                max-width: 300px;
                flex-direction: column;
                height: 800px;
            }

            &__description {
                max-width: 300px;
            }
    }
    .article {
        width: 100%;
    }
}