.subscribe {
    width: 100%;
    height: 500px;
    background-image: url("img/subscribe-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    &__contant {
        max-width: 1170px;
        width: 100%;
        height: 200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        font-size: $font-size-title-subscribe;
        font-weight: bold;
    }

    &__description {
        width: 545px;
        line-height: 27px;
    }

    &__input {
        width: calc(700px - 20px);
        padding-left: 18px;
        height: calc(55px - 2px);
        border: 1px solid $font-color-black;
    }

    &__input::placeholder {
        opacity: 0.5;
    }

    &__button {
        background-color: #96b92c;
        color: $font-color-white;
        margin-left: 30px;
    }
}