$font-family-defoult: 'Raleway', sans-serif;

$font-size-defoult: 17px;
$font-size-title: 90px;
$font-size-services-item-title: 20px;
$font-size-btn: 20px;
$font-size-title-subscribe: 40px;

$font-color-black: #262626;
$font-color-white: #ffffff;
$font-color-orange: #ff6033;
$font-color-footer: #b9b9b9;
$font-color-pink: #f72b3b;

$box-shadow-main: 0px 4px 10px 0px rgba($color: #000000, $alpha: 0.5);
