body {
    font-family: 'Lato', sans-serif;
}
h1, p.member_name {
    font-weight: 900;
}
p:not(.member_namee) {
    font-weight: 300;
}
h1 {
    text-transform: uppercase;
    font-size: 34px;
}
p.describtion {
    font-size: 12px;
}
p.member_position {
    font-size: 14px;
}
.box- image div.article {
    display: inline-block;
    width: calc(25% - 33px);
    margin: 0 15px;
}
section {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.box-image {
    margin: 0 auto;
}
..box- image div.article img {
    width: 100%;
    height: auto;
}