@font-face {
    font-family: 'Trebuchet', sans-serif;
    src: url("fonts/Trebuchet.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial', sans-serif;
    src: url("fonts/ArialBlack.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.main-container{
    width: 1195px;
    margin: 25px auto;
    background-color: #3b3f45;
}

.header{
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #4a4f56;
    color: #eb7e7f;
    text-align: center;
}

header p{
    font-family: 'Arial', sans-serif;
}

.header__subtitle{
    font-size: 18px;
}
.list{
    padding-top: 50px;
}

.list__item{
    margin-left: 195px;
    margin-top: 40px;
    width: 805px;
    list-style: none;
    padding-inline-start: 0px;
}
label{
    font-size: 24px;
}
.label{
    cursor: pointer;
}

span{
    font-size: 16px;
}

.button{
    font-size: 18px;
    margin-left: 195px;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 805px;
    height: 75px;
    text-align: center;
    color: #eb7e7f;
    background-color: #4a4f56;
    border: none;
}

.list__input{
    height: 64px;
    padding-top: 25px;
    background-color: #88839e;
    color: #fff;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}


.list__input:nth-child(2n){
    background-color: #7a7593;
}

input[type="checkbox"]:checked+label{
    text-decoration: line-through;
}

.list__input:hover{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: #544d76;
}

.list__input:active{
    background-color: #77355e;
}

span::before{
    content:'(';
}

span::after{
    content: ')';
}