$page-font: 'Raleway', sans-serif;
$logo-font: 'Pacifico', cursive;
$fontsizeMain: 10px;
$fontsizeMedia500: 8px;
$fontsizeMedia400: 7px;
$menuOrange: #ff6033;
$menuBlack: #262626;
$white: #fff;
$mainMaxWidth: 1170px;