@font-face {
    font-family: icomoon;
    src: url(./fonts/icomoon.ttf);
}

html {
    scroll-behavior: smooth;
}

.page {
    font-family: 'Raleway', sans-serif;
}

.header__content {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 70px;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-image: url(./img/header-background.png) ;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}

.menu__item {
    border-top: 3px solid rgba(255, 96, 51, 0);
}

.menu__item:hover {
    border-top: 3px solid rgba(255, 96, 51, 1);
}

.menu__link {
    text-decoration: none;
    color: #262626;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: 400;
    line-height: 25px;
}

.logo__link {
    text-decoration: none;
    color: #262626;
}

.header-article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-article__title {
    color: #262626;
    font-size: 60px;
    font-weight: 900;
    line-height: 25px;
}

.simple-text {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.header-article__text--width {
    max-width: 32%;
}

.header-article__text--color {
    color: #262626;
}

.header-article__button {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ff6033;
    outline: none;
    border: none;
    cursor: pointer;
}

.scroll {
    margin: 0 auto;
}

.about {
    color: #ffffff;
    background-color: #00c4c4;
    background-image: radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
}

.about__content {
    padding: 70px 0;
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    gap: 94px;
    align-items: center;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.section-title {
    font-size: 90px;
    font-weight: 700;
    line-height: 90px;
}

.about__image {
    max-width: 48%;
}

.about__text--white-space {
    white-space: break-spaces;
}

.services__icon {
    font-family: icomoon;
    display: inline-block;
    border-left: 1px solid #9d9d9d;
    font-size: 50px;
    line-height: 100px;
    min-width: 100px;
}

.services {
    background-color: #70bfff;
}

.services__content {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 170px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-left: 100px;
}

.services__item {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    transition: ease-in .3s;
}

.services__item--margin {
    margin-bottom: 20px;
}

.services__item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.services__description {
    color: #262626;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

.services__description--margin {
    margin-top: 26px;
    line-height: 27px;
}

.services__visualisation {
    max-width: 50%;
    background-image: url(./img/Services-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__title {
    color: #ffffff;
    text-align: center;
    line-height: 100%;
}

.contact {
    background-image: url(./img/contact_backgrnd.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact__content {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 101px;
    padding-bottom: 120px;
}

.contact-header {
    text-align: center;
    margin: 0 auto;
}

.contact-header__title--black {
    color: #262626;
}

.contact-header__title--margin-bottom {
    margin-bottom: 48px;
}

.contact-header__text--lineheight {
    line-height: 25px;
}

.contact-header__text--color {
    color: #262626;
}

.contact-header__text--width {
    max-width: 30%;
}

.contact-header__text--position {
    margin: 0 auto;
}

.contact-main {
    padding-top: 46px;
    display: flex;
    gap: 15%;
}

.contact-form {
    width: 43%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact__our-info {
    list-style: none;
}

.contact-form__input {
    width: 100%;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    line-height: 50px;
    outline: none;
    border: none;
    border-left: 5px solid rgba( 53, 91, 130, 0);
    background-color: #00c4c4;
    opacity: 0.5;
}

.contact-form__input::placeholder {
    color: #ffffff;

}

.contact-form__input:focus {
    opacity: 1;
    border-left: 5px solid rgba( 53, 91, 130, 1);
    font-weight: 700;
}

.textarea--width {
    resize: none;
    height: 250px;
}

.contact__title {
    color: #262626;
    font-size: 17px;
    font-weight: 700;
}


.contact__our-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__info {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
}

.contact__link {
    text-decoration: none;
    color: #262626;
}

.footer {
    background-color: #262626;
}

.footer__content {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    color: #b9b9b9;
    line-height: 25px;
}

.footer__info {
    font-size: 15px;
    font-weight: 300;
}

.footer__info--color {
    color: #ff2b58
}

.footer__info--bold {
    font-weight: 700;
}

.logo__link--footer {
    color: #b9b9b9;
    font-size: 25px;
    font-weight: 400;
}