@font-face {
    font-family: icomoon;
    src: url(./fonts/icomoon.ttf);
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

.page {
    font-family: 'Raleway', sans-serif;
}

.header__content {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 70px;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-image: url(./img/header-background.png) ;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
}

.menu__link {
    border-top: 3px solid rgba(255, 96, 51, 0);
}

.menu__link:hover {
    border-top: 3px solid rgba(255, 96, 51, 1);
}

.menu__link {
    text-decoration: none;
    color: #262626;
}

.burger-menu {
    display: none;
}

#burger-menu__toggle {
    opacity: 0;
}

.burger-menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 999;
}

.burger-menu__btn > span,
.burger-menu__btn > span::before,
.burger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #616161;
}
.burger-menu__btn > span::before {
  content: '';
  top: -8px;
}
.burger-menu__btn > span::after {
  content: '';
  top: 8px;
}

.burger-menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #f9f8fb;
  }

  .burger-menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .burger-menu__item:hover {
    background-color: #CFD8DC;
  }

  #burger-menu__toggle:checked ~ .burger-menu__btn > span {
    transform: rotate(45deg);
  }
  #burger-menu__toggle:checked ~ .burger-menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #burger-menu__toggle:checked ~ .burger-menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #burger-menu__toggle:checked ~ .burger-menu__box {
    visibility: visible;
    right: 0;
    z-index: 998;
  }

.burger-menu__btn > span, .burger-menu__btn > span::before, .burger-menu__btn > span::after {
  transition-duration: .25s;
}
.burger-menu__box {
  transition-duration: .25s;
}
.burger-menu__item {
  transition-duration: .25s;
}



.logo {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.logo__link {
    text-decoration: none;
    color: #262626;
}

.header-article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-article__title {
    color: #262626;
    font-size: 6rem;
    font-weight: 900;
    line-height: 2.5rem;
}

.simple-text {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2.7rem;
}

.header-article__text--width {
    max-width: 32%;
}

.header-article__text--color {
    color: #262626;
}

.header-article__button {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.7rem;
    text-transform: uppercase;
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ff6033;
    outline: none;
    border: none;
    cursor: pointer;
}

.scroll {
    margin: 0 auto;
}

.about {
    color: #ffffff;
    background-color: #00c4c4;
    background-image: radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
}

.about__content {
    padding: 70px 0;
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    gap: 94px;
    align-items: center;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.section-title {
    font-size: 9rem;
    font-weight: 700;
    line-height: 9rem;
}

.about__image {
    max-width: 48%;
}

.about__text--white-space {
    white-space: break-spaces;
}

.services__icon {
    font-family: icomoon;
    display: inline-block;
    border-left: 1px solid #9d9d9d;
    font-size: 5rem;
    line-height: 100px;
    min-width: 100px;
}

.services {
    background-color: #70bfff;
}

.services__content {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 170px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-left: 100px;
}

.services__item {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    transition: ease-in .3s;
    margin-bottom: 20px;
}

.services__item--nomargin {
    margin-bottom: 0;
}

.services__item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.services__description {
    color: #262626;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

.services__description-sizing {
    margin-top: 26px;
    line-height: 2.7rem;
}

.services__visualisation {
    max-width: 50%;
    background-image: url(./img/Services-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__title {
    color: #ffffff;
    text-align: center;
    line-height: 100%;
}

.gallery {
    background-color: #ffe92f;
    text-align: center;
    margin: 0 auto;
}

.gallery__content {
    padding: 100px 0 140px 0;
    max-width: 1170px;
    margin: 0 auto;
}

.gallery__text {
    margin-top: 28px;
}

.images-one, .images-two {
    display: flex;
    margin: 0;
    padding: 0;
}

.gallery__images {
    margin: 15px;
}

.more-btn--blue {
    background-color: #5585a2;
    border: 1px solid #5585a2;
}

.more-btn--blue:hover {
    background-color: #fff;
    color: #5585a2;
}

.more-btn--red {
    background-color: #f72b3b;
    border: 1px solid #f72b3b;
}

.images__img {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.images__img:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.images-one__right {
    display: flex;
    flex-direction: column;
}

.subscribe {
    background-image: url(./img/subscribe-bg.png);
    background-position: right;
    background-repeat:no-repeat;
}

.subscribe__content {
    padding: 145px 0 165px 0;
    max-width: 1170px;
    margin: 0 auto;
}

.subscribe__title {
    color: #262626;
    font-size: 4rem;
    font-weight: 700;
    line-height: 2.7rem;
    font-family: 'Raleway', sans-serif;
}

.subscribe__text {
    margin-top: 34px;
    margin-bottom: 31px;
}

.subscribe__email {
    width: 570px;
    height: 55px;
    border: 1px solid #262626;
    padding-left: 15px;
    opacity: 0.5;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.7rem;
    font-family: 'Raleway', sans-serif;
}

.subscribe__email:focus-visible {
    outline: none;
}

.subscribe__form {
    display: flex;
    gap: 30px;
}

.subscribe-btn {
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.7rem;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.blog {
    font-family: 'Raleway', sans-serif;
    background-color: #b07cf7;
    color: #ffffff;
}

.blog__content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 100px 0 140px 0;
}

.blog__title {
    font-size: 9rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.section__description {
    margin: 0 auto;
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
    max-width: 48.5% ;
    line-height: 2.5rem;
}

.section__posts {
    margin-top: 47px;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 30px;
}

.post {
    position: relative;
    width: 31.62%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.post__image {
    width: 100%;
}

.post__date {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(38, 38, 38, .5);
    line-height: 0.8;
    transition: all .2s ease-in;
}

.post__month {
    font-size: 2.1rem;
    font-weight: 900;
}

.post__info {
    position: absolute;
    top: 60%;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0.0) 100%);
    transition: all .3s ease-in;
}

.post__topic, .post__author {
    margin-left: 20px;
}

.post__topic {
    max-width: 83%;
    height: 78px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.post__author {
    margin-bottom: 23px;
    font-size: 13px;
    font-weight: 300;
}


.more-btn {
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px 43px;
    cursor: pointer;
}

.gallery__btn, .blog__button {
    margin-top: 50px;
}

.more-btn--red:hover {
    background-color: #fff;
    color: #f72b3b;
}

.more-btn--red:active {
    background-color: #fafafa;
    color: #f72b3b;
}

.post:hover>.post__info {
    top: 20px;
}

.post:active>.post__info {
    background-color: black;
    opacity: 0.8;
}

.post:hover>.post__date {
    opacity: 0;
}


.contact {
    background-image: url(./img/contact_backgrnd.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact__content {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 101px;
    padding-bottom: 120px;
}

.contact-header {
    text-align: center;
    margin: 0 auto;
}

.contact-header__title--black {
    color: #262626;
}

.contact-header__title {
    margin-bottom: 48px;
}

.contact-header__text--lineheight {
    line-height: 2.5rem;
}

.contact-header__text--color {
    color: #262626;
}

.contact-header__text--width {
    max-width: 30%;
}

.contact-header__text--position {
    margin: 0 auto;
}

.contact-main {
    padding-top: 46px;
    display: flex;
    gap: 15%;
}

.contact-form {
    width: 43%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact__our-info {
    list-style: none;
}

.contact-form__input {
    width: 100%;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 50px;
    outline: none;
    border: none;
    border-left: 5px solid rgba( 53, 91, 130, 0);
    background-color: #00c4c4;
    opacity: 0.5;
    padding-left: 15px;
}

.contact-form__input::placeholder {
    color: #ffffff;

}

.contact-form__input:focus {
    opacity: 1;
    border-left: 5px solid rgba( 53, 91, 130, 1);
    font-weight: 700;
}

.textarea--width {
    resize: none;
    height: 250px;
}

.contact__title {
    color: #262626;
    font-size: 1.7rem;
    font-weight: 700;
}


.contact__our-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__info {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.contact__link {
    text-decoration: none;
    color: #262626;
}

.footer {
    background-color: #262626;
}

.footer__content {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    color: #b9b9b9;
    line-height: 2.5rem;
}

.footer__info {
    font-size: 1.5rem;
    font-weight: 300;
}

.footer__info--color {
    color: #ff2b58
}

.footer__info--bold {
    font-weight: 700;
}

.logo__link--footer {
    color: #b9b9b9;
    font-size: 2.5rem;
    font-weight: 400;
}

@media screen and (max-width:1200px) {
    .wrapper {
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media screen and (max-width:1023px) {
    .section__posts {
        flex-direction: column;
        align-items: center;
    }
    .post {
        width: 60%;
    }
}

@media screen and (max-width:894px) {
    .about__content {
        text-align: center;
    }
    .about__image {
        display: none;
    }

    .wrapper {
        padding-top: 3%;
        padding-bottom: 3%;}

    .services__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services__list {
        background-image: url(./img/Services-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        order: 1;
        padding-left: 0;

    }

    .services__visualisation {
        background: none;
        order: 0;
    }

    .services__item {
        opacity: .8;
    }

    .gallery__content {
        display: flex;
        flex-direction: column;
    }

    .gallery__images-one, .gallery__images-two {
        flex-direction: column;
        align-items: center;
    }
    
    .gallery__images {
        max-width: 370px;
    }
}

@media screen and (max-width:768px) {
    
    .scroll {
        display: none;
    }

    .header {
        background-position: center;
        
    }

    .menu__list {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .menu__item {
        font-size: 6vw;
        margin-top: 20px;
    }
    .header__content {
        flex-direction: row;
        justify-content: center;
    }
    .header-article {
        align-items: left;
        justify-content: center;
        gap: 10%;
    }

    .header-logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .header-article__text--width {
        max-width: 50%;
    }
    .subscribe__content {
        background-color: rgba(202, 202, 202, .7);
    }

    .post__info {
        top: 70%;
    }
}

@media screen and (max-width:700px) {
    .post__info {
        top: 50%;
    }
}

@media screen and (max-width:500px) {

    html {
        font-size: 8px;
    }

    .header-article {
        align-items: center;
    }

    .header-article__text--width {
        max-width: 90%;
    }
    
    .header-article__text {
        text-align: center;
    }

    .subscribe__content {
        text-align: center;
    }
    .subscribe__form {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .subscribe__email {
        max-width: 90%;
    }

    .post__date {
        top: 1.5rem;
        left: 1.5rem;
        width: 45px;
        height: 45px;
    }

    .services__list {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .services__item {
        width: 100%;
        height: 8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 8rem;
    }

    .services__description {
        line-height: 8rem;
    }

    .services__description-sizing {
        margin-top: 0;
    }

    .services__icon {
        line-height: 8rem;
    }


    .contact-main {
        flex-direction: column;
        padding-top: 0;
        align-items:center;
    }

    .contact-form {
        width: 90%;
    }

    .contact-form__input {
        padding-left: 0;
    }

    .contact-header__text--width {
        max-width: 80%;
    }

    .contact__our-info {
        order: 1;
        padding-top: 1rem;
    }

    .contact__title, .contact__link, .contact__our-info {
        color: #fff;
        font-size: 2rem;
        text-align: center;

    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 7px;
    }

    .contact-form {
        padding-top: 25px;
    }

    .footer__info--Vitalij-exclusive {
        text-align: right;
    }

    .post__date {
        width: 38px;
        height: 38px;
    }

    .post__topic {
        height: 50px;
    }

    .post__author {
        margin-bottom: 10px;
    }

    .section__posts {
        gap: 15px;
        margin-top: 15px;
    }

    .blog__button {
        margin-top: 15px;
    }
}