$size-title: 90px;
$weight-title:700;

$size-description: 17px;
$weight-description: 300;
$heigth-description: 1.588;

$size-btn: 20px;
$weight-btn: 300;


$color-btn: #FFFFFF;
$color-black: #262626;
$color-white: #FFFFFF;
$color-orange: #ff6033;

$shadow-btn: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
$shadow-img: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);