body {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 1110px;
    margin: auto;
}
.services {
    display: inline;
}
.services li {
    float: left;
    width: 220px;
    padding: 0 50px;
}
p.description {
    line-height: 20px;
    color: #9d9d9d;
}
.icon-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 25px;
}
i.fas {
    position: absolute;
    font-size: 25px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.round {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1275b9;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 55px;
}
li div.round:hover {
    width: 60px;
    height: 60px;
    border: 2px solid #1275b9 ;
    border-radius: 50%;
    background-color: white;
    margin: auto;
    text-align: center;
    margin-bottom: 23px;
    margin-top: 53px;
}
li div.round:hover i.fas {
    color: #1275b9;
}
