$font-botton: "Open Sans";
$font-default: "Raleway";
$font-title: "Roboto";
$color-orange: #ffcc00;
$color-grey: #898f8f;
$font-size-subtitle: 18px;
$font-size-title: 60px;
$color-white: #ffffff;
$color-text: #666666;
$font-btn: 14px;
