$font-family-default: 'Raleway', sans-serif;

$font-size-fresh-logo: 10px;
$font-size-fresh-navigation: 16px;
$font-size-fresh-title: 60px;
$font-size-fresh-text: 17px;
$font-size-fresh-button: 20px;
$font-size-article-title: 90px;
$font-size-article-text: 17px;
$font-size-option: 20px;
$font-size-services-title: 90px;
$font-size-gallery-title: 90px;
$font-size-gallery-text: 17px;
$font-size-gallery-link: 20px;
$font-size-subscribe-title: 40px;
$font-size-subscribe-text: 17px;
$font-size-subscribe-email: 15px;
$font-size-subscribe-button: 20px;
$font-size-blog-heder: 90px;
$font-size-blog-text: 17px;
$font-size-blog-date: 32px;
$font-size-blog-month: 21px;
$font-size-blog-blocks: 0;
$font-size-blog-author: 13px;
$font-size-blog-article-name: 20px;
$font-size-blog-button: 20px;
$font-size-contact-header: 90px;
$font-size-contact-header-text: 17px;
$font-size-form-input: 15px;
$font-size-contact-address: 17px;
$font-size-cityname: 20px;
$font-size-footer-reserved: 16px;
$font-size-footer-made: 15px;

$color-black: #262626;
$color-orange: #ff6033;
$color-white: #ffffff;
$color-grey: #9a9a9c;
$color-bleu: #70bfff;
$color-light-grey:#9d9d9d;
$color-yellow: #ffe92f;
$color-dark-blue: #5585a2;
$color-marin: #33cfff;
$color-green: #96b92c;
$color-pink: #b07cf7;
$color-black-opacity:rgba(38, 38, 38, 0.575);
$color-dark-pink-opacity:rgba(58, 49, 59, 0.4);
$color-black-gradient: rgba(0, 0, 0, 0.9);
$color-white-gradient:rgba(255, 255, 255, 0.0);
$color-red: #f72b3b;
$color-black-shadow:rgba(0, 0, 0, 0.5);
$color-dark-pink:rgb(87, 31, 87);
$color-light-pink: #ccadcc;
$color-bleu-two:rgb(0, 196, 196);
$color-bleu-three: #355b82;
$color-red-two: #ff2b58;

$font-weight-fresh-navigation: 700;
$font-weight-fresh-title: 900;
$font-weight-fresh-text: 300;
$font-weight-fresh-button: 300;
$font-weight-article-title: 700;
$font-weight-article-text: 300;
$font-weight-services-option: 700;
$font-weight-services-title: 700;
$font-weight-gallery-title: 700;
$font-weight-gallery-text: 300;
$font-weight-gallery-link: 300;
$font-weight-subscribe-title: 700;
$font-weight-subscribe-button: 300;
$font-weight-blog-heder: 700;
$font-weight-blog-text: 300;
$font-weight-blog-date: 700;
$font-weight-blog-month: 900;
$font-weight-blog-author: 300;
$font-weight-blog-article-name: 700;
$font-weight-blog-button: 300;
$font-weight-contact-header: 700;
$font-weight-contact-header-text: 300;
$font-weight-form-input: 300;
$font-weight-form-input-active: 700;
$font-weight-contact-address: 700;
$font-weight-cityname: 300;
$font-weight-footer-reserved: 300;
$font-weight-footer-made: 300;


$line-hight-fresh-text: 1.4;
$line-height-article-text: 2;
$line-height-gallery-text: 1.6;
$line-height-subscribe-text: 1.5;
$line-height-blog-text: 1.5;
$line-height-blog-date: 0.8;
$line-height-contact-header-text: 1.5;
$line-height-contacts: 1.47;